

.home-img{
    width: 150px;
    border-radius: 33px;
    box-shadow: 2px 0px 20px 0px #fff;
}
.overlay{
    /*border: 1px solid white;*/
    padding: 33px;
    /*background: white;*/
    /*box-shadow: inset 1px 80px 40px 20px #fff;*/

}



.tj-banner-form {
    float: left;
    width: 100%;
    background-size: cover;
    padding: 195px 0;
    position: relative;
}

.trip-outer {
    width: 100%;
    float: left;
    position: relative;
    z-index: 999;
}
.trip-outer .trip-type-tabs {
    width: 100%;
    float: left;
}
.trip-type-tabs .nav-tabs {
    border: none;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}
.trip-type-tabs .nav-tabs > li.active > a, .trip-type-tabs .nav-tabs > li.active > a:hover, .trip-type-tabs .nav-tabs > li.active > a:focus {
    background-color: #f0f0f0;
    border: none;
}
.trip-type-tabs .nav-tabs li a {
    font-family: 'Montserrat',sans-serif;
    line-height: 22px;
    display: block;
    font-size: 18px;
    color: #444444;
    font-weight: 500;
    padding: 15px 44px;
    background-color: #fff;
    border: none;
}
.trip-outer .tab-content {
    width: 95.5%;
    background-color: #fff;
    float: left;
    padding: 40px 30px;
}
.tab-content > .active {
    display: block;
}
.trip_form .field-outer, .trip-type-frm .field-outer {
    float: left;
    width: 100%;
    position: relative;
}
.trip-type-frm span {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #a6a6a6;
    font-size: 13px;
    line-height: 24px;
    display: block;
}
.trip-type-frm input[type="text"] {
    display: block;
    height: 45px;
    padding: 0 15px;
    width: 280px;
    color: #a6a6a6;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
    background-color: #f6f6f6;
    font-weight: 400;
}

.trip-type-frm .search-btn {
    display: block;
    border: none;
    color: #fff;
    width: 280px;
    text-transform: capitalize;
    text-align: center;
    padding: 15px 0;
    margin: 25px 0 0;
    float: left;
    background: black;
}



.showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    animation: animate 16s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        background-image: url('../../assist/images/web-1.png');
    }
    25%{
        background-image: url('../../assist/images/web-2.png');
    }
    50%{
        background-image: url('../../assist/images/web-3.png');
    }
    75%{
        background-image: url('../../assist/images/web-4.png');
    }
}
.chakra-tabs__tab{
    border: 0px !important;
}