.thaks{
    color: #222;
    font-size: 33px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

}
.css-v9b9hc {
    position: fixed;
    left: 0px;
    top: 100px;
}
.color-btn-whatsapp{
    background: forestgreen;
    color: white;
    font-size: 16px;
    padding: 12px 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 5rem;
    margin: 22px 5rem;
}









.Formss{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.input-feild{
    padding: 20px!important;
    font-size: 1.4rem!important;

}
input-feilds{
    padding: 20px!important;
    /*font-size: 1.8rem!important;*/

}
.ui.input>input{
font-size: 12px!important;
}
.css-a3jy8y{
    height: 41px!important;
    color: #666!important;
    font-size: 1.5rem!important;
    color: #999!important;

}
.form-submit{
    display: inline-block;
    color: black;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;

    font-size: 18px;

    border-radius: 6px;
    border: none;
    background-image: linear-gradient(180deg, white, #d4d0d0);
    padding: .8rem 3.2rem;
    margin: auto;
}
.Last-link{
    font-size: 1.4rem;
    color:#999;
}
.form-heading{
    font-size: 2.8rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serifs;
}
.form-home {
    margin-top: 5rem;
    background: white;
    padding:12px;
    padding-top: 33px;
    margin-bottom: 3rem!important;

}
@media screen and (max-width: 996px) {
    .logo-home {
        margin-top: 33px;
    }
    .form-home {
        margin-top: 5rem;
    }
    .p-4 {
        padding: 0.5rem!important;
    }
}
@media screen and (max-width: 596px) {
    .chakra-tabs {
        margin: 0 12px;
        margin-bottom: 25px;
    }
}