
.home {
    width: 100vw;
    height: 100vh;
    min-height: 100%;


}

@media only screen and (max-width: 767px) {
    .home {
        /*background: url("../../assist/images/s2.png");*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

    }
}

.Errors {
    font-size: 13px;
    text-align: center;
    color: red;
}

.home-img {
    font-size: 3rem;
    width: 8rem;
}

.logo-text {
    font-size: 3.2rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.heading-form {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 700;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serifs;
}

.heading-para {
    font-size: 1.5rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serifs;
}

.btn-home {
    background: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: .7rem 5rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serifs;
}

.validation {
    text-align: left !important;
    color: red;
    font-size: 1.2rem;
}

.input-Field {
    width: 100% !important;
}

.form-control {
    height: 42px;
    border-radius: 6px !important;
    border: 1px solid black;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,) !important;
}

.adjust-btn {
    height: 4rem;
    width: 17rem;
    font-size: 1.8rem;
    background: black;
    margin-top: 1.3rem;

}

.mt-5 {
    margin-top: 2.4rem !important;
}

@media screen and (max-width: 400px) {
    .home {

        background: url("../../assist/images/web-langing-page-bg.png");

        background-size: cover;
    }

}
@media screen and (max-width: 996px) {

    .box-showcase {
        background-color: rgba(255, 255, 255, 0.5);


    }
    .form-home {
        margin-top: 5rem;
        background: white;
        padding: 12px;
        margin-bottom: 3rem!important;
        max-width: 90%;
    }
}

.css-1o5k2cy {
    width: 50%;
    font-size: 16px !important;
    background: #f2f5f8;
    text-align: center;
    height: 40px;
}

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        background-image: url('../../assist/images/web-1.png');
    }
    25% {
        background-image: url('../../assist/images/web-2.png');
    }
    50% {
        background-image: url('../../assist/images/web-3.png');
    }
    75% {
        background-image: url('../../assist/images/web-4.png');
    }
}

.box-showcase {
    background-color: rgba(255, 255, 255, 0.5);
  max-width: 500px;
}

.mt-4 {
    margin-top: 1rem !important;
}
.css-1h94tft{
    background: white;
}
.chakra-tabs__tab{
    border: 0px !important;
}
.chakra-tabs{
    margin-bottom: 25px;
}