@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);

html{
    font-size: 10px;
}
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.theme-font{
    font-family: "Azonix"
}
.origin-center{
    display: grid;
place-items: center;

}
.dispaly-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 996px) {

}
@media screen and (max-width: 996px) {
    html{
        font-size: 9px;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 8px;
    }
}
@media screen and (max-width: 565px) {}
@media screen and (max-width: 420px) {
    html{
        font-size: 7px;
    }
}.chakra-tabs__tab{
     border: 0px !important;
 }